<p>policy-view works!</p>
 <div class="container">
    <h2>Policy Details</h2>

    <div class="form-group" (ngSubmit)="getPolicy()">
      <label for="amount">Consumerid</label>
      <input type="number" id="amount" class="form-control" [(ngModel)]="consumerid" name="consumerid" required>
      <label for="amount">Policyid</label>
      <input type="number" id="amount" class="form-control" [(ngModel)]="policyid" name="policyid" required>

      <button type="submit" class="btn btn-primary" >Get Quotation</button>
    </div>

    <div *ngIf="policy">
      <p><strong>Name:</strong> {{ policy.name }}</p>
      <p><strong>Amount:</strong> {{ policy.amount }}</p>
      <p><strong>Type:</strong> {{ policy.type }}</p>
      <p><strong>Details:</strong> {{ policy.details }}</p>
    </div>
  </div>
   