<p>policy-list works!</p>
<div class="container">
    <h2>Policies</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Policy Name</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policies">
          <td>{{ policy.name }}</td>
          <td>{{ policy.amount }}</td>
          <td>{{ policy.type }}</td>
          <td>
            <button class="btn btn-info" routerLink="/admin/policies/edit/{{ policy.id }}">Edit</button>
            <button class="btn btn-danger" (click)="deletePolicy(policy.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
