.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .text-danger {
    font-size: 0.875rem;
    color: red;
  }
  
  /* .form-input{
    bg-gray-50
     border
      border-gray-300 
    text-gray-900
     text-sm
      rounded-lg 
      focus:ring-blue-500
     focus:border-blue-500 
     
     block
      w-full 
      p-2.5
  } */