<p>policy-request works!</p>
 <div class="container">
    <h2>Request Insurance Policy</h2>
    <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
      <div class="form-group">
        <label for="amount">buisiness Value</label>
        <input type="number" id="amount" class="form-control" [(ngModel)]="policyRequest.business" name="business" required>
      </div>

      <div class="form-group">
        <label for="amount">Property Value</label>
        <input type="number" id="amount" class="form-control" [(ngModel)]="policyRequest.amount" name="amount" required>
      </div>
  
      <div class="form-group">
        <label for="propertyType">Property Type</label>
        <select id="propertyType" class="form-control" [(ngModel)]="policyRequest.propertyType" name="propertyType" required>
          <option value="House">House</option>
          <option value="Car">Car</option>
          <option value="Business">Business</option>
          <option value="Building">Building</option>

        </select>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!requestForm.form.valid">Get Quotation</button>
    </form>
  
    <div *ngIf="quotation">
      <h3>Quotation</h3>
      <p>Quotation Amount: {{ quotation.quotes }}</p>
      <p>Policy Type: {{ quotation.policyType }}</p>
    </div>
  </div>


<!-- 
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
     
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">get quotes for your policy</h2>
    </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    
    
    <form class="space-y-6" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div >
        <label class="block text-sm/6 font-medium text-gray-900" for="consumerid">Username</label>
        <div class="mt-2">
        <input type="text" id="username" required [(ngModel)]="username" name="username"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" />
      </div>
      </div>
      <div >
       
        <label class="block text-sm/6 font-medium text-gray-900" for="password">Password</label>
        <div class="mt-2">
      
        <input type="password" id="password" required [(ngModel)]="password" name="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"/>
      </div>
      </div>

<div>
      <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login</button>
    </div>
   
    </form>
  </div>
  
  </div>
    -->